<section class="main-section container">
  <article>
    <div>
      <div *ngIf="profile.description.show">
        <h2>{{profile.description.title}}</h2>
        <p *ngFor="let paragraph of profile.description.paragraphs"
           [innerHTML]="paragraph">
        </p>
      </div>

      <div class="center-div mb-4" [style.flex-direction]="'column'">
        <iframe src="https://open.spotify.com/embed/track/6NL0q8xkbbNPOhWCtatnV8?utm_source=generator&theme=0"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
        </iframe>
      </div>
    </div>
  </article>
  <article>
    <div *ngIf="contactForm.show">
      <h2>{{contactForm.title}}</h2>
      <form
        [action]="contactForm.formspree"
        method="POST">
        <fieldset>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="inputName">{{contactForm.name}}</label>
              <input
                id="inputName"
                class="form-control"
                type="name"
                [name]="contactForm.name"
                [placeholder]="contactForm.namePlaceholder"
                required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="inputEmail">{{contactForm.email}}</label>
              <input
                id="inputEmail"
                class="form-control"
                type="email"
                [name]="contactForm.email"
                [placeholder]="contactForm.emailPlaceholder"
                required>
            </div>
            <div class="form-group col-lg-6">
              <label for="inputTelephone">{{contactForm.phone}}</label>
              <input
                id="inputTelephone"
                class="form-control"
                type="tel"
                [name]="contactForm.phone"
                [placeholder]="contactForm.phonePlaceholder"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="messageTextArea">{{contactForm.message}}</label>
            <textarea
              id="messageTextArea"
              class="form-control"
              rows="3"
              [name]="contactForm.message"
              [placeholder]="contactForm.messagePlaceholder"
              required></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-danger mb-2">
            {{contactForm.sendButton}}
          </button>
        </fieldset>
      </form>
    </div>
  </article>
</section>
