<section class="main-section">
  <article>
    <div *ngIf="contactForm.show">
      <h2>{{contactForm.title}}</h2>
      <form
        [action]="contactForm.formspree"
        method="POST">
        <fieldset>
          <div class="col-lg-6">
            <label for="inputName">{{contactForm.name}}</label>
            <input
              id="inputName"
              class="form-control"
              type="name"
              [name]="contactForm.name"
              [placeholder]="contactForm.namePlaceholder"
              required>
          </div>
          <div class="d-lg-flex">
            <div class="col-lg-6 pe-lg-2">
              <label for="inputEmail">{{contactForm.email}}</label>
              <input
                id="inputEmail"
                class="form-control"
                type="email"
                [name]="contactForm.email"
                [placeholder]="contactForm.emailPlaceholder"
                required>
            </div>
            <div class="col-lg-6 ps-lg-2">
              <label for="inputTelephone">{{contactForm.phone}}</label>
              <input
                id="inputTelephone"
                class="form-control"
                type="tel"
                [name]="contactForm.phone"
                [placeholder]="contactForm.phonePlaceholder"
                required>
            </div>
          </div>
          <div class="col-lg-12">
            <label for="messageTextArea">{{contactForm.message}}</label>
            <textarea
              id="messageTextArea"
              class="form-control"
              rows="3"
              [name]="contactForm.message"
              [placeholder]="contactForm.messagePlaceholder"
              required></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary mb-2">
            {{contactForm.sendButton}}
          </button>
        </fieldset>
      </form>
    </div>
  </article>
</section>
