<section class="main-section container">
  <article>
    <div>
      <div *ngIf="profile.description.show">
        <h2>{{profile.description.title}}</h2>
        <p *ngFor="let paragraph of profile.description.paragraphs"
           [innerHTML]="paragraph">
        </p>
      </div>
    </div>
  </article>
  <article>
    <div *ngIf="contactForm.show">
      <h2>{{contactForm.title}}</h2>
      <form
        [action]="contactForm.formspree"
        method="POST">
        <fieldset>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="inputName">{{contactForm.name}}</label>
              <input
                id="inputName"
                class="form-control"
                type="text"
                name="Name"
                [placeholder]="contactForm.namePlaceholder"
                required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="inputEmail">{{contactForm.email}}</label>
              <input
                id="inputEmail"
                class="form-control"
                type="email"
                name="Email"
                [placeholder]="contactForm.emailPlaceholder"
                required>
            </div>
            <div class="form-group col-lg-6">
              <label for="inputTelephone">{{contactForm.phone}}</label>
              <input
                id="inputTelephone"
                class="form-control"
                type="tel"
                name="Phone"
                [placeholder]="contactForm.phonePlaceholder"
                required>
            </div>
          </div>
          <div class="form-group">
            <label for="messageTextArea">{{contactForm.message}}</label>
            <textarea
              id="messageTextArea"
              class="form-control"
              rows="3"
              name="Message"
              [placeholder]="contactForm.messagePlaceholder"
              required></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-dark mb-2">
            {{contactForm.sendButton}}
          </button>
        </fieldset>
      </form>
    </div>
  </article>
</section>
