<section class="main-section">
  <article>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">
        <div class="center-div mb-4" [style.flex-direction]="'column'">
          <img [src]="product.icon"
               [alt]="product.name"
               class="img-fluid mb-3">
          <h4>{{product.price | currency:'EUR'}}</h4>
          <h4>{{product.name}}</h4>
        </div>
        <hr class="badge-dark">
      </div>
    </div>
    <!--    <hr class="badge-dark">-->
    <!--    <app-reach-me></app-reach-me>-->
  </article>
</section>
