<section class="main-section container">
  <article>
    <div class="row" *ngFor="let product of cartService.cart">
      <div class="col-6 col-lg-4">
        <div class="center-div mb-4" [style.flex-direction]="'column'">
          <img [src]="product.icon"
               [alt]="product.name"
               class="img-fluid mb-3">
        </div>
      </div>
      <div class="col-6 d-flex flex-column justify-content-between">
        <h4>{{product.name}}</h4>
        <div>
          TALLA: {{product.size}}
        </div>
        <div>
          CANTIDAD: {{product.quantity}}
        </div>
        <small>
          PRECIO UNITARIO: {{product.price | currency:'EUR'}}
        </small>
        <button class="btn btn-dark w-100"
                data-toggle="modal" data-target="#modalEliminar">
          ELIMINAR
        </button>
        <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark border-light">
              <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel">
                  ¿ELIMINAR '{{product.name}}' DEL CARRITO?
                </h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                  CANCELAR
                </button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="cartService.remove(product)">
                  ACEPTAR
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr class="badge-dark">
      </div>
    </div>
    <ng-container *ngIf="!(cartService.cart.length)">
      <h2>NO HAY PRODUCTOS EN EL CARRITO</h2>
      <button class="btn btn-dark w-100"
              routerLink="/">
        VOLVER A LA TIENDA
      </button>
    </ng-container>
    <hr class="badge-dark">
    <h2>TOTAL: {{cartService.totalPrice | currency:'EUR'}}</h2>
  </article>
</section>


