<div *ngIf="contact.show">
  <h2>{{contact.title}}</h2>
  <p>
    Puedes contactarme por correo electrónico a <a href="mailto:{{contact.email}}">{{contact.email}}</a> o por teléfono
    al <a href="tel:{{contact.phone}}">{{contact.phone}}</a>.

  </p>
  <p>
    También puedes encontrarme en las siguientes redes sociales:
  </p>
  <ul>
    <li *ngFor="let item of contact.items">
      <a [href]="item.link" target="_blank">
        <i class="fa fa-{{item.icon}}"></i>
        {{item.name}}
      </a>
    </li>
  </ul>
  <hr>
</div>
