<section class="main-section">
  <article class="mt-lg-5">
    <div class="center-div">
      <h1><b>
        <span class="text-primary text-gradient">Projects</span>
      </b></h1>
    </div>
    <div class="d-lg-flex flex-lg-row flex-lg-wrap justify-content-lg-center">
      <ng-container *ngFor="let item of profile.projects">
        <div class="col-12 col-lg-6 ps-lg-2">
          <div class="mb-5">
            <app-project-card [item]="item"></app-project-card>
          </div>
        </div>
      </ng-container>
    </div>
  </article>
</section>
