<section id="welcome-section"
         class="main-section">
  <article>
    <div *ngIf="profile.description.show">
      <h2>{{profile.description.title}}</h2>
      <p *ngFor="let parahraph of profile.description.paragraphs">
        {{parahraph}}
      </p>
      <hr>
    </div>
    <div *ngIf="profile.contact.show">
      <h2>{{profile.contact.title}}</h2>
      <a href="{{profile.contact.linkedin}}" target="_blank">
        <img src="{{profile.contact.linkedinImage}}" alt="linkedinImage" class="m-1">
      </a>
      <a href="{{profile.contact.github}}" target="_blank">
        <img src="{{profile.contact.githubImage}}" alt="githubImage" class="m-1">
      </a>
      <a href="{{profile.contact.instagram}}" target="_blank">
        <img src="{{profile.contact.instagramImage}}" alt="instagramImage" class="m-1">
      </a>
      <hr>

    </div>
    <div *ngIf="profile.skills.show">
      <h2>{{profile.skills.title}}</h2>
      <ng-container *ngFor="let skill of profile.skills.list">
        <img src="{{skill}}" class="m-1">
      </ng-container>
      <hr>
    </div>
    <div id="githubActivity" *ngIf="profile.gitHubActivity.show">
      <h2>{{profile.gitHubActivity.title}}</h2>
      <div>
        <img src="{{profile.gitHubActivity.gitHubStats}}" class="m-1">
      </div>
      <div>
        <img src="{{profile.gitHubActivity.gitHubLangs}}" class="m-1">
      </div>
      <hr>
    </div>
    <div id="profile-img">
      <a id="profile-link" href="{{profile.contact.linkedin}}" target="_blank">
        <img src="assets/PerfilLinkedin.jpg">
      </a>
    </div>
  </article>
</section>
