<section id="welcome-section"
         class="main-section">
  <article>
    <div *ngIf="profile.description.show">
      <h2>{{profile.description.title}}</h2>
      <p *ngFor="let parahraph of profile.description.paragraphs">
        {{parahraph}}
      </p>
      <hr>
    </div>
    <app-reach-me></app-reach-me>
    <div *ngIf="profile.skills.show">
      <h2>{{profile.skills.title}}</h2>
      <ng-container *ngFor="let skill of profile.skills.list">
        <img src="{{skill}}" class="m-1">
      </ng-container>
      <hr>
    </div>
    <app-github-activity></app-github-activity>
    <div id="profile-img">
      <img id="profile-link" src="../../../assets/profilePhoto.jpg">
    </div>
  </article>
</section>
