<nav class="navbar navbar-dark">
	<div class="container">
		<div class="center-div" [style.flex-direction]="'column'" [style.width.%]="100">
			<div class="navbar-nav center-div" [style.flex-direction]="'row'">
				<li class="nav-item m-4">
					<a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
				</li>
				<li class="nav-item m-4">
					<a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
				</li>
			</div>
			<img src="assets/robotkid-white.png"
				 alt="404"
				 class="img-fluid"
				 routerLink="">
		</div>
	</div>
</nav>
