/* You can add global styles to this file, and also import other style files */
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-div {
  display: flex;
  align-items: center;
}

.main-section {
  padding: 2em;
}

#navbar {
  font-family: monospace;
  font-size: 1.5em;
  background-color: #333;
  text-align: -webkit-center;
  @media (min-width: 768px) {
    padding-top: 2em;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #333;
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6em;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
    }
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
}

.project-tile {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;

  header {
    font-size: 1.5em;
    @media (min-width: 768px) {
      padding-left: 1em;
    }
    @media (max-width: 768px) {
      text-align: -webkit-center;
    }
  }
}

a {
  text-decoration: none;
  color: #dc3545;

  &:hover {
    color: #dc3545;
  }
}

p {
  text-align: justify;
}

#contact {
  padding-bottom: 1em;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  color: white;
  background-color: black;

  &:focus {
    color: white;
    background-color: black;
    border-color: white;
  }
}

body {
  font-size: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
}

.bg-dark {
  background-color: black !important;
}

.nav-link.active {
  color: #dc3545 !important;
}

.container {
  max-width: none !important;
}
