<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<section class="footer bg-dark badge-dark">
  <span class="footer-icons">
    <a class="footer-icon"
	   href="https://www.linkedin.com/in/endermejia/"
	   target="_blank"
	   title="Linkedin"
	   itemprop="significantLink">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="footer-icon"
	   href="https://github.com/endermejia"
	   target="_blank"
	   title="GitHub"
	   itemprop="significantLink">
      <i class="fa fa-github"></i>
    </a>
    <a class="footer-icon"
	   href="https://www.instagram.com/gabri.mejia/"
	   target="_blank"
	   title="Instagram"
	   itemprop="significantLink">
      <i class="fa fa-instagram"></i>
    </a>
  </span>
	<span>© {{year}} Copyright: Gabriel Mejía</span>
</section>
